/* Tag Styling */
p {
  font-size: 32px;
}

button, label {
  font-size: 18px;
}

/* Standard Spacing Styling */
.spacing {
  margin: 30px 0 15px 0;
}

/* Standard Button Styling */
.button {
  font-size: 20px;
  padding: 3px 10px;
  background-color: #70566D;
}

.button:hover {
  background-color: #42273B;
}

/* Centering All Elements */
#center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Learning Mode Styling */
.learning-container {
  position: absolute; /* have learning mode on side of page */
  z-index: 5; /* have learning mode at front */
  width: 150px;
  margin: 5px 0 0 5px; 

  left: 0;
}

.learning-items {
  /* Box Model Styling */
  width: 125px;
  height: 30px;
  padding: 5px;
  margin: 10px 5px;
  margin-top: 0;

  /* Border Styling */
  border: black solid 1px;
  border-radius: 2;
}

/* Learning Mode Button Styling */
.learn-button {
  font-size: 15px;

  padding: 6px 0;
  margin: 5px;

  color: whitesmoke;
  background-color: #70566D;

  border: gray groove 1px;
  border-radius: 3px;
}

/* Pressed Learn Button Styling */
.on-button {
  border: ridge 2px grey !important;
  background-color: #42273B !important;
}

/* Drop Down for Learn Mode Styling */
.dropdown {
  position: relative;
}

/* on hover, display dropdown content */
.dropdown:hover + .dropdown-content{
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.dropdown-content:hover {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

/* dropdown content styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #abc8c0d5;

  /* Box Model Styling */
  width: 121px;
  margin-left: -5px;
  padding: 7px;
}

/* Learn Mode Styling */
#learn-mode {
  font-size: 18px;
  text-align: center;

  /* Box Model Styling */
  margin: 0;
  padding: 0;
  padding: 2px 0 10px 0;
}

/* Centering Flashcard Styling */
#center {
  /* Box Model Styling */
  width: 100%;
  margin: 30px 0 20px 0;

  /* Felx Styling */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Flashcard-Flip Styling */
.flip-container {
  perspective: 1000px; /* Gives 3D depth to the flip */

  /* Box Model Styling */
  min-width: 300px;
  width: 70%;
  height: 55vh;
}

/* when 'Flipped' Styling */
.flipper {
  position: relative;
  cursor: pointer;

  /* Box Model Styling */
  width: 100%;
  height: 100%;

  /* Transform Styling */
  transition: transform 0.6s;
  transform-style: preserve-3d; /* makes flashcard 3D element */
}

/* the JavaScript toggle class */
.flip-container.flipped .flipper {
  /* rotates flashcard and text in flashcard */
  transform: rotateX(180deg);
}

.flashcard-container {
  text-align: center;
  backface-visibility: hidden; /* Hides the reverse side during rotation */

  width: 90%;
}

/* styling for front and back */
.front, .back {
  position: absolute;
  backface-visibility: hidden; /* Hides the reverse side during rotation */
}

/* starts hidden, pre-rotated */
.back {
  transform: rotateX(180deg); 
}

/* transform info for flashcard */
#answer {
  transform: rotateX(180deg);
  transition: transform 0.6s;
}

#question {
  transition: transform 0.6s;
}

/* Flashcard Styling */
#flashcard {
  border: solid lightslategrey 1px;

  /* Box Model Styling */
  min-width: 300px;
  width: 70%;
  height: 60vh;

  /* Background Color Styling */
  background-color: #edfaee;
  background-image: radial-gradient(#fff9f5dc, #fff9f5dc, #edfaee);

  /* Flex Display Styling */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Standard Right/Wrong Button Styling */
.stand-button {
  /* background-color:  */
  width: 200px;
  padding: 7px 0;
  margin: 10px 30px;

  font-size: 24px;

  border: solid 1px rgb(127, 127, 127);
  border-radius: 5px;
}

.stand-button:hover {
  border: solid 1px black;
  border-radius: 7px;
}

/* Correct Button Styling */
#correct {
  background-color: #7aea92;
}

#correct:hover {
  background-color: #5eff81;
  box-shadow: #edfaee 3px 1px 1px;
}

/* Wrong Button Styling */
#wrong {
  background-color: #e96f6b;
}

#wrong:hover {
  background-color: #f7605b;
  box-shadow: #faeded 3px 1px 1px;
}

/* Rank Button Container Styling (Spacing) */
#ranked-buttons {
  width: 45%;
  justify-content: space-around;
}

/* Rank Buttons Styling */
.rank-button {
  font-size: 30px;

  /* Border Styling */
  border: solid grey 1px;
  border-radius: 100%;

  /* Box Model Styling */
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.rank-button:hover {
  box-shadow: 2px 2px 2px 2px #888888;
}

/* Rank Button Colors */
#rank-1 {
  background-color: #e96f6b;
}
#rank-2 {
  background-color: #f0c76e;
}
#rank-3 {
  background-color: #f0b46e;
}
#rank-4 {
  background-color: #7aea92;
}
#rank-5 {
  background-color: #5bb0ed;
}

/* Right/Wrong Button Styling */
#written-input {
  font-size: 20px;

  /* Box Model Styling */
  width: 100%;
  height: min-content;
  padding: 5px;
  margin: 5px;
}

#written-buttons {
  width: 60%;
}

/* Multiple Choice Button Styling */
.multi-container {
  display: flex;
  justify-content: space-evenly;
}

.mutli-button {
  font-size: 24px;
  text-align: center;

  /* Box Model Styling */
  min-width: 25vw;
  padding: 7px;
  margin: 15px 20px;
  border: ridge 2px lightslategray;
}

/* Right-Wrong Message Styling */
#right-wrong-container {
  background-color: #daf7dcda;
  text-align: center;

  /* Position Styling */
  position: absolute;
  z-index: 5;
  
  /* Box Model Styling */
  width: 100vw;
  height: calc(100% - 75px);
  margin-top: -10px;

  /* Flex Sytling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right-wrong-message {
  font-size: 30px;
  margin-top: -70px;
}

/* Next Button Styling */
#next-buttons {
  font-size: 24px;
  padding: 5px 20px;
}