/* Tag Styling */
p {
  font-size: 32px;
}

button, label {
  font-size: 18px;
}

/* Standard Spacing Styling */
.spacing {
  margin: 20px 0 15px 0;
}

#center {
  /* Box Model Styling */
  width: 100%;
  margin: 30px 0 20px 0;

  /* Felx Styling */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Standard Button Styling */
.button {
  font-size: 20px;
  padding: 3px 10px;
  background-color: #70566D;
}

.button:hover {
  background-color: #42273B;
}

/* Learning Mode Styling */
.learning-container {
  position: absolute; /* have learning mode on side of page */
  z-index: 5; /* have learning mode at front */
  width: 150px;
}

.learning-items {
  /* Box Model Styling */
  width: 125px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  margin-top: 0;

  /* Border Styling */
  border: black solid 1px;
  border-radius: 2;
}

.learn-button:hover {
  box-shadow: 2px 2px 2px 2px #888888;
}

.learn-button {
  font-size: 26px;

  /* Border Styling */
  border: solid grey 1px;
  border-radius: 100%;

  /* Box Model Styling */
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

/* Pressed Learn Button Styling */
.on-button {
  border: outset 5px grey;
  background-color: #42273B;
}

/* Drop Down for Learn Mode Styling */
.dropdown {
  position: relative;
}

/* on hover, display dropdown content */
.dropdown:hover + .dropdown-content{
  display: block;
  z-index: 3;
}
.dropdown-content:hover {
  display: block;
  z-index: 3;
}

/* dropdown content styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #abc8c0d5;

  /* Box Model Styling */
  width: 175px;
  margin-left: -5px;
  padding: 5px;
}

#learn-mode {
  font-size: 18px;
  text-align: center;

  /* Box Model Styling */
  margin: 0;
  padding: 0;
  padding: 2px 0 10px 0;
}

/* Flashcard-Flip Styling */
.flip-container {
  perspective: 1000px; /* Gives 3D depth to the flip */

  /* Box Model Styling */
  min-width: 300px;
  width: 70%;
  height: 60vh;
}

/* when 'Flipped' Styling */
.flipper {
  position: relative;
  cursor: pointer;

  /* Box Model Styling */
  width: 100%;
  height: 100%;

  /* Transform Styling */
  transition: transform 0.6s;
  transform-style: preserve-3d; /* makes flashcard 3D element */
}

/* the JavaScript toggle class */
.flip-container.flipped .flipper {
  /* rotates flashcard and text in flashcard */
  transform: rotateX(180deg);
}

.flashcard-container {
  text-align: center;
  backface-visibility: hidden; /* Hides the reverse side during rotation */

  width: 90%;
}

/* styling for front and back */
.front, .back {
  position: absolute;
  backface-visibility: hidden; /* Hides the reverse side during rotation */
}

/* starts hidden, pre-rotated */
.back {
  transform: rotateX(180deg); 
}

/* transform info for flashcard */
#answer {
  transform: rotateX(180deg);
  transition: transform 0.6s;
}

#question {
  transition: transform 0.6s;
}

/* Flashcard Styling */
#flashcard {
  border: solid lightslategrey 1px;

  /* Box Model Styling */
  min-width: 300px;
  width: 70%;
  height: 60vh;

  /* Background Color Styling */
  background-color: #edfaee;
  background-image: radial-gradient(#fff9f5dc, #fff9f5dc, #edfaee);

  /* Flex Display Styling */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Rank Button Colors */
#learn-1 {
  background-color: #e96f6b;
}
#learn-2 {
  background-color: #f0c76e;
}
#learn-3 {
  background-color: #f0b46e;
}
#learn-4 {
  background-color: #7aea92;
}
#learn-5 {
  background-color: #5bb0ed;
}

/* Right/Wrong Button Styling */
#written-input {
  font-size: 20px;

  /* Box Model Styling */
  width: 60%;
  padding: 5px;
  margin: 5px;
}

#correct, #wrong {
  font-size: 24px;
  margin: 0 40px;
}

/* Multiple Choice Button Styling */
.multi-container {
  display: flex;
  justify-content: space-evenly;
}

.mutli-button {
  font-size: 24px;
  text-align: center;

  /* Box Model Styling */
  min-width: 25vw;
  padding: 7px;
  margin: 15px 0;
}

/* Right-Wrong Message Styling */
#right-wrong-container {
  background-color: #daf7dcda;
  text-align: center;

  /* Position Styling */
  position: absolute;
  top: 30vh;
  left: 35vw;
  
  /* Box Model Styling */
  width: 30vw;
  height: 30vh;

  /* Flex Sytling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right-wrong-message {
  font-size: 15px;
}