h2 {
    margin: 20px;
}

label {
    margin: 0 10px;
    font-size: 18px;
}

input[type=text] {
    width: 75%;
    height: 20px;
    padding: 5px;
}

/* Styling for Card item */
.card-item {
    /* Box Model Styling */
    width: 35vw;
    margin: 20px;
    padding: 15px;

    /* Border Styling */
    border: solid black 1px;
    border-radius: 5px;

    background-color: #DAF7DC;
}

/* Styling for Button Container */
.button-container {
    width: 50px;
    border-style: none;
    background-color: transparent;
}

/* Styling for Delete Button */
.delete-button {
    padding: 5px 10px;
    font-size: 17px;
}

/* Change Set Name Set Styling */
#change-set-name, #fin-set-name {
    /* Color Styling */
    color: black;
    background-color: #ABC8C0;

    /* Border Styling */
    border: solid black 1px;
    border-radius: 5px;
}

#set-name-change {
    width: 300px;
    font-size: 20px;
}