body {
    font-family: "Tirra", cursive;
    font-size: 20px;
    margin: 0px;

    background-color: #fff9f5dc;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 5px;
    margin: 0 0 10px 0;

    background-color: #ABC8C0;
}

.button {
    font-family: "Tirra", cursive;
    padding: 3px 5px;
    margin: 0 5px;

    font-size: 15px;
    color: white;

    background-color: #42273B;
    border: solid #70566D 1px;
    border-radius: 3px;
}

.username-display {
    margin: 0 10px 0 0;
}

#logo {
    margin: 0 10px 0 0;
}

.header-button {
    margin: 0 10px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    border-style: none;
}

.header-button:hover {
    background-color: #DAF7DC;
    /* color: white; */

    border-radius: 5px;
}

/* #home-button {
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    border-style: none;
}

#learn-button {
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    border-style: none; */
/* } */

/*
color palette 1 (autum)
#BE7C4D
#92140C
#353238
#BE5A38
#C1B4AE

color palette 2 (pale purple flower)
#FFFFFF
#E9FAE3
#DEE8D5
#D5C7BC
#AC92A6

color palette 3 (summer fruits)
#8CB369
#F4E285
#F4A259
#5B8E7D
#BC4B51

color palette 4 (dusty green-purple)
#9EE493
#DAF7DC
#ABC8C0
#70566D
#42273B

color palette 5 (dark icy auroura)
#99D5C9
#6C969D
#645E9D
#392B58
#2D0320

color palette 6 (saturated purpee oregon)
#231942
#5E548E
#9F86C0
#BE95C4
#E0B1CB

color palette 7 (blues)
#BEE9E8
#62B6CB
#1B4965
#CAE9FF
#5FA8D3
*/