/* Style page for whole website */
body {
    margin: 0px;
    background-color: #fff9f5dc;
    
    /* Font Styling */
    font-family: "Tirra", cursive;
    font-size: 20px;
    margin: 0px;
}

/* class for setting up flex display */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* class for hiding items */
.hidden {
    visibility: hidden;
    position: absolute;

    /* Box Model Styling */
    width: 0;
    height: 0;
}

/* button styling */
.button {
    /* Font Styling */
    font-family: "Tirra", cursive;
    font-size: 15px;
    color: white;

    /* Box Model Styling */
    padding: 3px 5px;
    margin: 0 5px;

    /* Border Styling */
    background-color: #42273B;
    border: solid #70566D 1px;
    border-radius: 3px;
}

/* Banner header styling */
.header {
    display: flex;
    justify-content: space-between;

    /* Box Model Styling */
    height: 75px;
    padding: 5px;
    margin: 0 0 10px 0;

    background-color: #ABC8C0;
}

/* header buttons styling */
.header-button {
    background-color: transparent;
    font-size: 20px;
    border-style: none;
    
    /* Box Model Styling */
    margin: 0 10px;
    padding: 10px;
}

.header-button:hover {
    background-color: #DAF7DC;
    border-radius: 5px;
}

/* username display style */
.username-display {
    margin: 0 10px 0 0;
}

/* logo styling */
#logo {
    margin: 0 10px 0 0;
}